<form action="/api/add/record" method="post"><div>
  <!-- Podstawowe pole tekstowe -->
  <input type="text" name="title">Podaj tytuł<br>
  <input type="text" name="lead">Podaj lead<br>
  <input name="content">Podaj zawartość
 
  <!-- Przycisk WYŚLIJ -->
  <input type="submit" value="Wyślij formularz">
  <!-- Przycisk WYCZYŚĆ DANE -->
  <input type="reset" value="Wyczyść dane">
  </div></form>
  